package ${package.Controller};


import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${table.serviceName}, ${entity}> {
#else
public class ${table.controllerName} {
#end


@PostMapping("/save")
public void save(@RequestBody ${entity}DTO<${entity}> entityDTO) {
        iService.save(entityDTO.getInstance());
        }

@PostMapping("/saveOrUpdate")
public void saveOrUpdate(@RequestBody  ${entity}DTO<${entity}> entityDTO) {
        iService.saveOrUpdate(entityDTO.getInstance());
        }

@PostMapping("/updateById")
public void updateById(@RequestBody  ${entity}DTO<${entity}> entityDTO) {
        if (StringUtils.isEmpty(entityDTO.getId())) {
        throw new ServiceException(Errors.ILLEGAL_ARGUMENT);
        }
        iService.updateById(entityDTO.getInstance());
        }

}

#end